    /*
    Flaticon icon font: Flaticon
    Creation date: 08/05/2017 23:08
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-man-user:before { content: "\f100"; }
.flaticon-roller-skate:before { content: "\f101"; }
.flaticon-transport:before { content: "\f102"; }
.flaticon-home:before { content: "\f103"; }
.flaticon-skateboard-1:before { content: "\f104"; }
.flaticon-skateboard:before { content: "\f105"; }
.flaticon-motor-scooter:before { content: "\f106"; }
.flaticon-sports:before { content: "\f107"; }
    
    $font-Flaticon-man-user: "\f100";
    $font-Flaticon-roller-skate: "\f101";
    $font-Flaticon-transport: "\f102";
    $font-Flaticon-home: "\f103";
    $font-Flaticon-skateboard-1: "\f104";
    $font-Flaticon-skateboard: "\f105";
    $font-Flaticon-motor-scooter: "\f106";
    $font-Flaticon-sports: "\f107";