@model IEnumerable<RentForPark.Models.Produs>

@{
    ViewBag.Title = "Index";
}

@Html.ActionLink("Create New", "Create")
    <div class="main-roll">
        @foreach (var item in Model){
            if (item.Tip == "1")
            {
            <div class="rp-card-wrapper">
                <div class='rp-card'>

                    <header class="rp-section">
                        <h3>
                        @Html.DisplayFor(modelItem => item.Nume)
                        </h3>
                    </header>

                    <div class="rp-imagine">
                        <img src="http://www.hazdenecaz.ro/poze-hazlii/034_masina.jpg">
                    </div>

                    <div class="card-section">
                        @Html.DisplayFor(modelItem => item.Descriere)
                    </div>

                    <footer class="rp-section">

                        <div class="rp-pret">
                        @Html.DisplayFor(modelItem => item.Pret)
                        </div>
                    </footer>
                </div>
            </div>
            }
        }

    </div>
