#main-header{
	display: flex;
	height: 50px;
	background-color: #022280;
	flex-wrap: wrap;
	align-items: center;
}

*{
	font-family: Ubuntu;
}

/* 
Skate-color: #075601;
Scutere : #0d7706;
Biciclete: #022280
Button: #840c0c;
Home: #9a0000;
*/

.background-skate{
	background-color: #693102;
}

.background-troti{
	background-color: #075601;
}

.background-bici{
	background-color: #9a0000;
}

.background-default{
	background-color: #840c0c;
}

.background-home{
	background-color: #022280;
}

.background-role{
	background-color: #cca900;
}

.background-home:hover, .background-default:hover, .background-bici:hover, .background-troti:hover, .background-skate:hover{
	/*background-color: #000;*/
}

.main-nav{
	display: flex;
	margin: 0px;
	padding: 0px;
	height: 100%;
}

.main-nav>.nav-comenzi a{
	padding-left: 26px;
}
.main-nav>.nav-comenzi a span:before{
	font-size: 32px;
}
.main-nav>.nav-comenzi a span{
	margin-right: 0px;
}


.main-nav li{
	display: flex;
	align-items: stretch;
	text-shadow: 1px 1px 1px #000;
	margin: 0px;
	padding: 0px;
	transform: skew(-20deg);
	/*border-left: 1px solid white;*/
}

.main-nav li:first-child:not(.nav-comenzi){
	margin-left: 10px;
}

.main-nav>.nav-comenzi{
	margin-left: -10px;
}

.main-nav>li>a{
	display: flex;
	padding: 0px 20px;
	position: relative;
	transform: skew(20deg);
	align-items: center;
	color: white;
	font-size: 18px;
}
.main-nav>li>a>span, .login-button>span{
	margin-right: 10px;
}

/* Flaticon fix */
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	margin: 0px;
}

.shutter-out-vertical{
  transition: color 150ms;
  position: relative;
  transform: translateZ(0);
  /* backface-visibility: hidden; */
}
  .shutter-out-vertical:before{
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000;
    transform: scaleY(0);
    transform-origin: 50%;
    transition-property: transform;
    transition: 150ms ease-out;
}
  .shutter-out-vertical:hover:before{
    transform: scaleY(1); 
}

.in-the-right{
	margin-left: auto;
}

.login-button{
	margin: 0px;
    height: 100%;
    display: flex;
    padding: 0px 20px;
    align-items: center;
    font-size: 17px;
}

.page-footer{
	width: 100%;
    height: 0px;
    padding-top: 40%;
    position: relative;
}

.footer-svg{
	height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
}

.show-on-hover{
	transition: opacity 170ms;
	opacity: 0;
}

.show-on-hover:hover, .show-on-hover:focus{
	opacity: 1
}

.svg-bici{
	fill: 'url(#svg-bici)';
}

.svg-bici:hover{
	fill: 'url(#svg-bici-hover)';
}

.svg-troti{
	fill: 'url(#svg-troti)';
}

.svg-troti:hover{
	fill: 'url(#svg-troti-hover)';
}

.svg-skate{
	fill: 'url(#svg-skate)';
}

.svg-skate:hover{
	fill: 'url(#svg-skate-hover)';
}

.svg-skate{
	fill: #004e7b;
}

.svg-role{
	fill: #e2bb00;
}

.flaticon{
	font-family: Flaticon;
    font-size: 40px;
	font-style: normal;
}